{% extends "/auth/base.html" %}
{% block content %}
{% import "bootstrap/wtf.html" as wtf %}
        <div class="top-content">
            
            <div class="inner-bg">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Bootstrap</strong> Login &amp; Register Forms</h1>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="wrapper">
                            <div class="form-box">
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h3>Sign up now</h3>
                                        <p>Fill in the form below to get instant access:</p>
                                    </div>
                                    <div class="form-top-right">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                </div>
                                <div class="form-bottom">
                                    <form role="form" action="" method="post" class="registration-form">
                                        <div class="form-group">
                                            <label class="sr-only" for="form-first-name">e=Email</label>
                                              {{ form.email(placeholder="Email...",class_="form-username form-control")}} 
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="form-last-name">Username</label>
                                               {{ form.username(placeholder="Username...",class_="form-password form-control")}} 
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="form-email">Password</label>
                                              {{ form.password(placeholder="Password...",class_="form-password form-control")}} 
                                        </div>
                                            <div class="form-group">
                                            <label class="sr-only" for="form-email">Password2</label>
                                              {{ form.password2(placeholder="Password2...",class_="form-password form-control")}} 
                                        </div>
                                         {{ form.submit(class_="btn")}}
                                        <button type="submit" class="btn"> Sign me up!</button>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
{% endblock %}