{% extends "bootstrap/base.html" %}
{% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Login &amp; Register Templates</title>
        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet"  href="{{url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}"/>
         <link rel="stylesheet"  href="{{url_for('static', filename='assets/font-awesome/css/font-awesome.min.css')}}"/>
         <link rel="stylesheet"  href="{{url_for('static', filename='assets/css/form-elements.css')}}"/>
        <link rel="stylesheet"  href="{{url_for('static', filename='assets/css/style.css')}}"/>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{{url_for('static', filename='assets/ico/favicon.png')}}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{url_for('static', filename='assets/ico/apple-touch-icon-144-precomposed.png')}}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{url_for('static', filename='assets/ico/apple-touch-icon-114-precomposed.png')}}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{url_for('static', filename='assets/ico/apple-touch-icon-72-precomposed.png')}}">
        <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='assets/ico/apple-touch-icon-57-precomposed.png')}}">
{% endblock %}

{% block title %}Flasky - Confirm your accont{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Hello, {{ current_user.username }}!
    </h1>
    <h3>You have not confirmed your account yet.</h3>
    <p>
        Before you can access this site you need to confirm your account.
        Check your inbox, you should have received an email with a confirmation link.
    </p>
    <p>
        Need another confirmation email?
        <a href="{{ url_for('auth.resend_confirmation') }}">Click here</a>
    </p>
</div>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='assets/js/jquery-1.11.1.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/jquery.backstretch.min.js')}}"></script>
<script type=text/javascript>
jQuery(document).ready(function() {
    /*
        Fullscreen background
    */
    $.backstretch("{{url_for('static', filename='assets/img/backgrounds/1.jpg')}}");
    /*
        Login form validation
    */
    $('.login-form input[type="text"], .login-form input[type="password"], .login-form textarea').on('focus', function() {
        $(this).removeClass('input-error');
    });
    $('.login-form').on('submit', function(e) {
        
        $(this).find('input[type="text"], input[type="password"], textarea').each(function(){
            if( $(this).val() == "" ) {
                e.preventDefault();
                $(this).addClass('input-error');
            }
            else {
                $(this).removeClass('input-error');
            }
        });
    });
    
    /*
        Registration form validation
    */
    $('.registration-form input[type="text"], .registration-form textarea').on('focus', function() {
        $(this).removeClass('input-error');
    });
    $('.registration-form').on('submit', function(e) {
        $(this).find('input[type="text"], textarea').each(function(){
            if( $(this).val() == "" ) {
                e.preventDefault();
                $(this).addClass('input-error');
            }
            else {
                $(this).removeClass('input-error');
            }
        });
        
    });
    
});
  </script>
{% endblock %}