{% extends "base.html" %}
{% block page_content %}
<div align="center"><h2>Rule Configure Detail</h2></div>
<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a name="Rule">Rule</a>
                <button onclick="activateRuleHelp()" style="float:right;">Help</button>
            </h4>
        </div>
        <table class="table table-bordered table-striped">
        <form name="ruleForm" method="POST">
                <tr>
                    <td style="width:30%">ID:</td>
                    <td>{{RuleId}}</td>
                </tr>
                <tr>
                    <td>简介(description):</td>
                    <td>{{ form.description(style="width:95% ")}} </td>
                </tr>
                <tr>
                    <td><span class="pattern">模式(pattern)</span></td>
                    <td>{{ form.pattern(style="width:95%")}}</td>
                </tr>
                <tr>
                    <td><span class="instance">实例(instance)*:</span></td>
                    <td>{{ form.instance(style="width:95%")}}</td>
                </tr>
                 {% if rules %}
                  <tr>
                    <td>站点名(siteName):</td>
                    <td>{{rules.siteName}}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td><span class="parserType">解析类型(parserType):</span></td>
                    <td>
                    {{ form.parserType(style="width:95%")}}
                    </td>
                </tr>
                <tr>
                    <td><span class="pageType">页面类型(pageType):</span></td>
                    <td>
                    {{ form.pageType(style="width:95%")}}
                    </td>
                </tr>
                <tr>
                    <td><span class="state">状态(state):</span></td>
                    <td>
                   {{ form.state(style="width:95%")}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:right">
                        {{ form.csrf_token }}
                        {{form.submit()}}
                    </td>
                </tr>
            </form>
        </table>
    </div>
{% endblock %}
