{% extends "base.html" %}
{% block page_content %}
<div align="center" xmlns="http://www.w3.org/1999/html"><h2>Rule Import</h2></div>
<form action="{{url_for('.UploadRules')}}" method="post" enctype="multipart/form-data">
    <table class="table table-bordered table-striped">
        <tr>
            <td style="width:25%">导入规则:</td>
            <td>
                <input type="file" multiple="" name="file[]" class="btn js-btn" size="50" style="width:70%" multiple/>
                <button type="submit" class="btn js-btn">Submit</button>
            </td>
        </tr>
    </table>
</form>
</div>
{% endblock %}