<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Rule->Node</h4>
        </div>
        <table class="table table-bordered table-striped">
            <tr>
                <td style="width:30%">id:</td>
                <td>{{nodes.id}}</td>
            </tr>
            <tr>
                <td>标签名(label):</td>
                <td>{{nodes.label}}</td>
            </tr>
            <tr>
                <td>节点类型(nodeType):</td>
                <td>{{nodes.nodeType}}</td>
            </tr>
            <tr>
                <td>父节点(parentNode):</td>
                <td>{{nodes.parentNode}}</td>
            </tr>
            <tr>
                <td>配置项:</td>
                <td>
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td style="width:30%">配置项id(extraConfigId):</td>
                            <td>{{nodes.extraConfigId}}</td>
                        </tr>
                        <tr>
                            <td>输入类型(inputType):</td>
                            <td>{{nodes.inputType}}</td>
                        </tr>
                        <tr>
                            <td>输入选项(inputOption):</td>
                            <td>{{nodes.inputOption}}</td>
                        </tr>
                        <tr>
                            <td>条件(condition):</td>
                            <td>{{nodes.condition}}</td>
                        </tr>
                        <tr>
                            <td>选项(value):</td>
                            <td>{{nodes.value}}</td>
                        </tr>
                        <tr>
                            <td>解析器类型(extractorType):</td>
                            <td>{{nodes.extractorType}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>