{% extends "base.html" %}
{% block page_content %}
{% include 'RuleDetail.html' %}

<ul class="nav nav-tabs"></ul>
<div align="center"><h2>Add Node Configure</h2></div>
<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a name="AddNode">新增Node</a>
                <button onclick="activateNodeHelp()" style="float:right;">Help</button>
            </h4>
        </div>
        <table class="table table-bordered table-striped">
        <form name="ruleForm" method="POST">
                <tr>
                    <td style="width:30%"><span class="nodeLable">标签名(label)*</span></td>
                       <td>{{ form.label(style="width:30%")}} </td>
                </tr>
                <tr>
                    <td><span class="nodeType">节点类型(nodeType):</span></td>
                    <td>
                        {{ form.nodeType}}
                    </td>
                </tr>
                <tr>
                    <td><span class="parentNode">父节点(parentNode):</span></td>
                    <td> {{ form.parentNode}}</td>
                </tr>
                <tr>
                    <td>解释器配置项:</td>
                    <td>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td><span class="inputType">输入类型(inputType):</span></td>
                                <td>
                                     {{ form.inputType}}
                                </td>
                            </tr>
                            <tr>
                                <td><span class="inputOption">输入选项(inputOption):</span></td>
                                <td>
                                  {{ form.inputOption(style="width:98%")}}
                                </td>
                            </tr>
                            <tr>
                                <td  style="width:30%"><span class="extractorType">类型(extractorType):</span></td>
                                <td>
                                     {{ form.extractorType(style="width:30%")}}
                                </td>
                            </tr>
                            <tr>
                                <td><span class="condition">条件(condition):</span></td>
                                  <td>{{ form.condition(style="width:98%")}}</td>
                            </tr>
                            <tr>
                                <td><span class="value">选项(value):</span></td>
                                <td>
                                     {{ form.value(style="width:98%")}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">
                        <a class="btn btn-primary" href="{{ url_for('.Rules',RuleID=rules.id) }}">返回Rule页</a>
                    </td>
                    <td style="text-align:right">
                        {{ form.csrf_token }}
                        {{form.submit()}}
                    </td>
                </tr>
                </form>
        </table>
    </div>
</div>


<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Rule->Node->Property</h4>
        </div>
            <table class="table table-bordered table-striped">
{% if properties %}
 <thead>
                <tr>
                    <th>id</th>
                    <th>粘合标记</th>
                    <th>标签</th>
                    <th>引用页</th>
                    <th>导出类型</th>
                    <th>可见范围</th>
                    <th>是否必须</th>
                    <th>是否为多个</th>
                    <th>查看</th>
                    <th>删除</th>
                </tr>
                </thead>
  {% for properity in properties %}
                    <tr>
                    <td>{{properity.id}}</td>
                    <td>{{properity.glue}}</td>
                    <td>{{properity.label}}</td>
                    <td>{{properity.referer}}</td>
                    <td>{{properity.resultType}}</td>
                    <td>{{properity.scopeType}}</td>
                    <td>{{properity.isRequired}}</td>
                    <td>{{properity.isMultiply}}</td>
                        <td>
                            <form id="propShow" action=" {{ url_for('.Properties',PropertyID=properity.id) }}" method="get"
                                    style="display:inline">
                                <button type="submit" class="btn btn-primary">Detail</button>
                            </form>
                        </td>
                        <td>
                            <form id="propDelete" action="{{ url_for('.DeleteProperties',PropertyID=properity.id) }}" method="post"
                                    style="display:inline">
                                <input id="ruleId" name="ruleId" type="hidden" value='5376'/>
                                <input id="nodeId" name="nodeId" type="hidden" value='38578'/>
                                <input type="hidden" name="_method" value="delete"/>
                                <button type="submit" class="btn btn-danger" onClick="return confirm('确定删除吗?');">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
          {% endfor %}
           <tr>
                    <td colspan="10" style="text-align:center">
                        <a href="{{ url_for('.AddProperty',NodeId=nodes.id) }}"><h4>新增Prop</h4></a>
                    </td>
                </tr>
                <tr>
                    <td colspan="10" style="text-align:center">
                        <form id="propCopy" action="/admin/rule/prop" method="post" style="display:inline">
                            <input type="text" name="propIds" placeholder="PropId1,PropId2,..."/>
                            <input id="ruleId" name="ruleId" type="hidden" value='5376'/>
                            <input id="nodeId" name="nodeId" type="hidden" value='38578'/>
                            <input type="hidden" name="_method" value="delete"/>
                            <button type="submit" class="btn btn-primary" style="margin-right:15px">删除Prop</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td colspan="10" style="text-align:center">
                        <form id="propCopy" action="{{ url_for('.CopyProperties') }}" method="get" style="display:inline">
                            <input type="text" name="propertyId" placeholder="propertyId"/>
                            <button type="submit" class="btn btn-primary" style="margin-right:15px">复制Prop</button>
                        </form>
                    </td>
                </tr>
           {% else %}
<tr>
                    <td style="text-align:center"><h4>没有Prop纪录</h4></td>
                </tr>
                <tr>
                    <td colspan="10" style="text-align:center">
                        <form id="propCopy" action="{{ url_for('.CopyProperties') }}" method="get" style="display:inline">
                            <input type="text" name="propertyId" placeholder="propertyId"/>
                            <button type="submit" class="btn btn-primary" style="margin-right:15px">复制Prop</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center">
                        <a href="{{ url_for('.AddProperty',NodeId=nodes.id) }}"><h4>新增Prop</h4></a>
                    </td>
                </tr>

{% endif %}
            </table>
    </div>
</div>

{% endblock %}
