<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Rule</h4>
        </div>
        <table class="table table-bordered table-striped">
                <tr>
                <td style="width:30%">id:</td>
                <td>{{rules.id}}</td>
                </tr>
                <tr>
                    <td>简介(description):</td>
                   <td>{{rules.description}}</td>
                </tr>
                <tr>
                    <td>模式(pattern)</td>
                     <td style="word-break:break-all; word-wrap:break-word;">{{rules.pattern}}</td>
                </tr>
                <tr>
                    <td>实例(instance)*:</td>
                    <td>{{rules.instance}}</td>
                </tr>
                <tr>
                    <td>站点名(siteName):</td>
                    <td>{{rules.siteName}}</td>
                </tr>
                <tr>
                    <td>解析类型(parserType):</td>
                   <td>{{rules.parserType}}</td>
                </tr>
                <tr>
                    <td>页面类型(pageType):</td>
                   <td>{{rules.pageType}}</td>
                </tr>
                <tr>
                    <td>状态(state):</td>
                   <td>{{rules.state}}</td>
            </tr>
        </table>
    </div>
</div>